.contact-table-container {
  margin-top: 20px;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 8px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
      text-align: left;
    }

    td {
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    button {
      padding: 5px 10px;
      border: none;
      border-radius: 8px;
      background-color: #dc3545;
      color: white;
      cursor: pointer;
    }
  }
}
